<ion-header>
  <ion-toolbar>

        <button class="logout" (click)='logout()'> <ion-icon name="log-out" ></ion-icon></button>
    <ion-title>
      my cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="background" > 

 <ion-row justify-content-center >
  	<ion-button   fill="solid" expand="block"  color="dark"  style="width:100%">
     <label >{{user.module.startDate}}------{{user.module.endDate}}</label>
 <ion-icon style="margin-left: 25px;"name="calendar"></ion-icon>
  </ion-button>
</ion-row>

<ion-content padding class="vertical-center" [scrollEvents]="true"  style=" min-width:90%; height:60vh; align-items: center; background-color: gray">
<ion-toolbar  [class.show-background]="showToolbar">
      
        <ion-card-header>
          <ion-card-title>List</ion-card-title>
        </ion-card-header>
         <ion-list>
           <ion-item  *ngFor="let aliment of user.module.program.AlimentList; let indx=index"> 
              <ion-label>{{aliment.name}}, {{aliment.quantity}} g</ion-label>
           </ion-item>
         </ion-list>
   </ion-toolbar>
    </ion-content>



<ion-tabs>
    <button class="submitButton" (click)="navCartSecond()" style="margin-bottom: 30px">Order</button>
  <ion-tab-bar slot="bottom">
   
    <ion-tab-button >
       <a routerLink="/user">
      <ion-icon name="contact"></ion-icon>
      <ion-label>User</ion-label>
     </a>
    </ion-tab-button>

   
    <ion-tab-button >
       <a routerLink="/setting">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Setting</ion-label>
       </a>
    </ion-tab-button>
   
    <ion-tab-button>
       <a routerLink="/menu">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Menu</ion-label>
       </a>
    </ion-tab-button>
  

   <ion-tab-button >
     <a routerLink="/cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>My cart</ion-label>
        </a>  
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs> 

</ion-grid>
