<ion-header>
  <ion-toolbar>

    <button class="logout" (click)='logout()'> <ion-icon name="log-out" ></ion-icon></button>
    
    <ion-title>
      Menu
    </ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-grid class="background" style="z-index: -1000;"> 
	

	<ion-row class="appname" >
   	
         
  
                     <img  src="./assets/img/logo2.png" style="margin-top:-35px;margin-left: 130px" width="95px" height="73px">


   </ion-row> 

   	<ion-row justify-content-center>
       <div>here is the menu for your program {{user.module.name}}</div>

    </ion-row>	
 <ion-row justify-content-center style="margin-top: 15px;">
    <ion-button   fill="solid" expand="block"  color="dark"  style="width:100%">
     <label >{{user.module.startDate}}------{{user.module.endDate}}</label>
 <ion-icon style="margin-left: 25px;"name="calendar"></ion-icon>
  </ion-button>
</ion-row>


   <ion-row >
    <ion-content   padding class="vertical-center" [scrollEvents]="true"  style="height: 60vh; width:100%; align-items: center; background-color: gray"> 
    <ion-toolbar  [class.show-background]="showToolbar">
   <!--
  

   			<table border =" 2" *ngFor="let meal of user.module.program.globalMenu; let i = index" style="table-layout: fixed; width:100%;">
   				<tr>
            <td >date</td>
            <td >break fast</td>
            <td >snack</td> 
            <td >lunch</td> 
            <td >snack</td> 
            <td >diner</td>
          </tr>
   				<tr> 
            <td ><div> day {{i+1}}</div></td>
            <td > <ul *ngFor="let aliment of meal.breakFast"> <li>{{aliment.name}}, {{aliment.quantity}} g</li></ul> </td>
   			    <td > <ul *ngFor="let aliment of meal.snack1"> <li>{{aliment.name}}, {{aliment.quantity}} g</li></ul> </td>
   		      <td > <ul *ngFor="let aliment of meal.lunch"> <li>{{aliment.name}}, {{aliment.quantity}} g</li></ul> </td>
   		  		 <td > <ul *ngFor="let aliment of meal.snack2"> <li>{{aliment.name}}, {{aliment.quantity}} g</li></ul> </td>
   				 <td > <ul *ngFor="let aliment of meal.diner"> <li>{{aliment.name}}, {{aliment.quantity}} g</li></ul> </td></tr>
   			</table>
 
-->
 <ion-list *ngFor="let meal of user.module.program.globalMenu; let  indx=index" style="margin: 0px">
    <ion-item>
      <div> day {{indx+1}}</div>
        <ion-icon name="ios-arrow-down" item-right *ngIf="temp=='show'+indx"  (click)="accordion(indx,'hihe')"></ion-icon>
        <ion-icon name="ios-arrow-forward" item-right *ngIf="temp!='show'+indx"  (click)="accordion(indx,'show')"></ion-icon>
    </ion-item>

      <ion-card *ngIf="temp=='show'+indx"  >
        <ion-card-header>
          breakfast
        </ion-card-header>
        <ion-card-content>
           <ul *ngFor="let aliment of meal.breakFast"> <li>{{aliment.name}}, {{aliment.quantity}} g</li></ul>
        </ion-card-content>

        <ion-card-header>
          snack1
        </ion-card-header>
        <ion-card-content>
           <ul *ngFor="let aliment of meal.snack1"> <li>{{aliment.name}}, {{aliment.quantity}} g</li></ul>
        </ion-card-content>

        <ion-card-header>
          lunch
        </ion-card-header>
        <ion-card-content>
           <ul *ngFor="let aliment of meal.lunch"> <li>{{aliment.name}}, {{aliment.quantity}} g</li></ul>
        </ion-card-content>

        <ion-card-header>
          snack2
        </ion-card-header>
        <ion-card-content>
           <ul *ngFor="let aliment of meal.snack2"> <li>{{aliment.name}}, {{aliment.quantity}} g</li></ul>
        </ion-card-content>

        <ion-card-header>
          diner
        </ion-card-header>
        <ion-card-content>
           <ul *ngFor="let aliment of meal.diner"> <li>{{aliment.name}}, {{aliment.quantity}} g</li></ul>
        </ion-card-content>
      </ion-card>
      <br/>
  </ion-list>

  

</ion-toolbar>
</ion-content>
 
 
 </ion-row> 



<a routerLink="../module"><button class="submitButton" id="previous" > Change module </button></a>



<ion-tabs style="z-index: -999;">

  <ion-tab-bar slot="bottom">
   
    <ion-tab-button >
       <a routerLink="/user">
      <ion-icon name="contact"></ion-icon>
      <ion-label>User</ion-label>
     </a>
    </ion-tab-button>

   
    <ion-tab-button >
       <a routerLink="/setting">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Setting</ion-label>
       </a>
    </ion-tab-button>
   
    <ion-tab-button>
       <a routerLink="/menu">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Menu</ion-label>
       </a>
    </ion-tab-button>
  

   <ion-tab-button >
     <a routerLink="/cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>My cart</ion-label>
        </a>  
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>




 </ion-grid>