// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.background{
	/*background-image: linear-gradient(#c4f9a7 30%, #5aa234 70%);*/
	background-color: #c4f9a7;

	width: 100vw; min-height: 100vh; padding-bottom: 5vh;
}

.appname{
	height:5vh; padding-top: 3vh; 
}

.appname p{
	width:100%; text-align:center; font-size: 90%; 
}



.logo{
	width:30vw; height:30vw; margin-left: 35vw; margin-top:10vh;  background-image: url("assets/img/logo2.png"); 
	background-repeat: no-repeat; background-size: cover;
}


h1{margin-top:10vh; text-align: center;}


.ok{
	border:solid; width:100vw; height:20vh;
}


.forms{
	padding-top: 8vh;
}

h2{
	width:100%;	text-align: center; margin-top: 5vh; font-weight: bold; 
}

.row{
	
}


.userpic{
	width:20vw; height: auto;
}






.logForm{
	margin-top: 12vh;
}

.field{
	width: 90%; margin-left: 4vw; height: 8vh; margin-top: 2vh; background-color: #e1f9d4; border-radius: 3vw;
	border:solid 1px #e1f9d4; color:white; font-size: 150%; padding-left: 10%; color : black;
}

.submitButton{
	width: 90%; margin-left: 4vw; height: 8vh; margin-top: 2vh; background-color: #538234; border-radius: 4vw;
	border:solid 1px #538234; color:white; font-size: 150%;
}

.vertical-center {
    .fixed-content,
    .scroll-content {
        display: flex;
        align-items: center;

        
    }


}

 .logout{
      background: #ff6347; border-radius: 2vw; width: 10vw
 }