

#forgotPassword{
	width:50vw; margin-left: 4vw; height: 5vh; margin-top:2vh; margin-bottom: 10vh; font-size: 100%; color: #538234;  padding-right:0%;
}


#forgotPassword a{
	text-decoration:none;	color: #538234; 
}